$main-color: #be0000;
$dark-main-color: darken(#be0000, 20);
$light-main-color: lighten(#be0000, 20);
$ultra-light-main-color: lighten(#be0000, 50);

$secondary-color: #05d3bb;
$dark-color: #30322f;
$light-color: #fff;

$error-color: #e74c3c;

$ultra-light-grey: #eeeeee;
$light-grey: #cdcdcd;
$grey-color: #909090;
$dark-grey: #818181;

$circle-radius: 50%;
$main-radius: 30px;
$half-radius: 15px;
$tiny-radius: 5px;
$mini-radius: 3px;

$text-dark-color: #3b3b3b;
$text-light-color: #a3a3a3;

$main-font-size: 16px;
$btn-font-size: 12px;
$mini-font-size: 12px;